<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>easy Two-Way Binding</title>
    <style>
        div{
            border: 1px solid;
            padding: 10px; margin: 10px;
        }
    </style>
</head>
<body>
    <div id="div">
        <h2>实现 MVVM 的节点</h2>
        修改 input 的内容，将更新 data 中的数据，进而修改旁边的文本<br />
        input 表单为双向绑定<br />
        <input type="text" v-model="text" />
        {{ text }}
        <div>
            <h3>子节点</h3>
            <input type="text" v-model="text" />
            {{ text }}
        </div>
    </div>

    <div>
        <h2>当前 model 层的 data.text 的值 </h2>
        <p id="curTextData"></p>
    </div>

    <div>
        <h2>手动修改 model 层的 data.text 数据</h2>
        <input type="text" id="newText" />
    </div>
</body>
<script src="./mvvm.js"></script>
<script>
'use strict';

const vm = new MVVM({
    el: '#div',
    data: {
        text: 'hello MVVM',
    },
});



setInterval(()=>{
    document.querySelector('#curTextData').textContent = vm.data.text;
}, 50);

document.querySelector('#newText').addEventListener('input', function (ev) {
    vm.data.text = ev.target.value;
});

</script>
</html>
